* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background: #000;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
      height: 100%;
  width: 100%;
    background: #000;
    overflow: auto;
}

.add-data{
  width: 100%;
  background: #FFE141;
  padding: 10px 100px;
  display: flex;
  flex-wrap: wrap;

  display: flex;
align-items: center;
justify-content: space-between;
}
.add-data form{
  width: 66%;
}
.add-data img{
  height: 100px;
}

.add-data input{
  padding:10px  20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 18px;
  outline: none;
  
 
}
.add-data .btn{
   cursor: pointer; 
   background: #000;
   color: white;
    border: none;
    padding:10px  20px;
    font-size: 16px;
    border-radius: 5px;
}
.add-data .btn:active{
  scale: 0.97;
}

/* ------------------------------------------- */
.all-data{
  display: flex;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}
.item{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;

background: white;
color: #000;
padding: 20px;
text-align: center;
border-radius: 10px

}
.item h3{
  font-size: 18px;
  

}
.item div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.item div button{
  padding: 5px 10px;
  border-radius: 5px;
  background: royalblue;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.item div button:nth-child(2){
  background: red;
}
.item div button:active{
  scale: 0.97;
}