* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background: #000;
    color: white;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.card{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: rgb(49, 51, 57);
   padding: 30px;
   border-radius: 5px;
   margin-bottom: 20px;
   border: 2px solid white;
   font-weight: 500;
}
.card button{
    background: palevioletred;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 600;
    cursor: pointer;
}

.card h5{
 font-size: 20px;
 /* color: rgb(255, 93, 48); */
  font-weight: 500;
}
.card h3{
  font-size: 30px;
   font-weight: 500;
}
button:active{
    scale: 0.95;
}