* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background: #000;
    color: white;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 7%;
    background: rgba(0, 0, 0, 0.218);
backdrop-filter: blur(5px);
position: fixed;
width: 100%;
transition: all ease 0.3s;
}
nav div{
  display: flex;
  /* column-gap: 4rem; */
  gap: 2rem;
  
   
}
img{
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    

}