* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
main{
   height: 100%;
  width: 100%;
  background: #000;
}
nav {
  height: 8%;
  color: white;
  background: rgb
  (0, 0, 0);
  border-bottom: 0.5px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;

}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  list-style-type: none;
}
nav button{
  padding: 7px 18px;
  /* height: 25px; */
  background:  rgb(53, 51, 51);
  color: white;
  border: none;
  border-radius: 3px;
}
nav h5{
  font-size: 2rem;
}
.page1{
  min-height: 90%;
  width: 100%;
  /* background: rgb(19, 23, 15); */
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page1 .hero{
  /* height: 55%; */
  width: 60%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  
}
.page1 .hero h5{
  color: rgb(114, 106, 106);
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1;
}
.page1 .hero h1{
  color: white;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
}
.page1 .hero h2{
  color: white;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 1;
}
.page1 .hero .text{
  color: white;
  margin-top: 1rem;
  font-size: 1.3rem;
  width: 80%;
  text-align: center;
  font-weight: 100;
}
.page1 .hero button{
  color: rgb(0, 0, 0);
  background: #ffffff;
}
.page1 .hero .btns{
  display: flex;
  justify-content: space-between;
  gap: 30px;

  margin-top:2rem ;
}
.page1 .hero .btns button{
  padding: 10px 30px;
  border: none;
  text-transform: capitalize;

}
.page1 .hero .btns .btn1{
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.page1 .hero .btns .btn2{
  background: rgb(61, 48, 48);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.page1 .hero .Technology{
  margin-top: 3rem;
  width: 100%;
  /* height: 50%; */
  position: relative;

  
}
.page1 .hero .Technology h3{
  font-size: 2rem;
   color: white;
  text-align: center;
  /* margin-top: 1rem; */
  font-weight: 400;
  

}
.page1 .hero .Technology .layer{
  /* height: 100%; */
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;

}
.page1 .hero .Technology .layer:active{
  content: "";
  background: blue;
  height: 100%;
  position: absolute;
}
.page1 .hero .Technology .layer span{
  background: #2E2E2E;
  color: white;
  padding: 4px 10px;
  /* border: 1px solid white; */
  display: inline-block;
  border-radius: 2px;
}
@media (max-width:600px) {
  nav {
  height: 8%;
  color: white;
  background: rgb
  (0, 0, 0);
  border-bottom: 0.5px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  /* background: red; */

}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: none;
  
  list-style-type: none;
}
nav button{
  padding: 10px 18px;
  /* height: 25px; */
  background:  rgb(53, 51, 51);
  color: white;
  border: none;
  border-radius: 3px;
}
nav h5{
  font-size: 2rem;
}
.page1 .hero{
  width: 100%;
}

.page1 .hero h5{
  color: rgb(114, 106, 106);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
}

.page1 .hero h1{
  color: white;
  font-size: 3rem;
  font-weight: 500;
  /* line-height: 1; */
}

.page1 .hero h2{
  color: white;
  font-size: 3rem;
  font-weight: 500;
  /* line-height: 1; */
}
}