

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    padding: 50px;
    gap: 4px;
}
.div{
    height: 100px;
    width: 40px;
    /* border: 1px solid rgb(0, 0, 0); */
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
    padding-bottom: 0.6rem;
    text-align: center;
}
.div h1{
    font-size: 1rem;
text-align: center;
}

