* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   /* color: white; */
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
 
}
body{
    padding: 20px;
}

input{
     padding: 10px 20px;
    background: #dadada;
    border: none;
    border-radius: 5px;
    margin: 20px;
    color: rgb(0, 0, 0);
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    outline: none;
}
h1{
    color: white;
}
button{
    padding: 10px 20px;
    background: royalblue;
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: white;
}
